<nav class="navbar navbar-light bg-light mb-3">
  <a class="navbar-brand" [routerLink]="['']">Lorem ipsum dolor</a>
  <div *ngIf="logged">
    <div class="dropdown" dropdown>
      <a dropdownToggle class="pull-left text-center btn btn-setting dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria- expanded="true"><i class="fa fa-user"></i></a>
      <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
          <a role="menuitem" tabindex="-1" [routerLink]="['profile']">
            Профиль
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" [routerLink]="['cart']">
            Корзина
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="1" href="" data-toggle="modal" data-target="#myModal">
            Выход
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="!logged">
    <a class="btn btn-outline-primary mr-3" [routerLink]="['register']">Регистрация</a>
    <a class="btn btn-outline-primary" [routerLink]="['login']">Войти</a>
  </div>
</nav>
