<app-product></app-product>
<div>
  <h2>Рекомендуемое</h2>
  <div>
    <carousel>
      <slide>
        <img src="https://lp2.hm.com/hmgoepprod?set=source[/70/cc/70cca1fe43323457feab8532a07197522b895d03.jpg],origin[dam],category[ladies_jacketscoats_jackets],type[DESCRIPTIVESTILLLIFE],res[y],hmver[1]&call=url[file:/product/main]" class="col-4" alt="...">
        <img src="https://lp2.hm.com/hmgoepprod?set=source[/ac/19/ac1922cf7c64cf4b1d413d80f52d2fcc8d3051bc.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[y],hmver[1]&call=url[file:/product/main]" class="col-4" alt="...">
        <img src="https://lp2.hm.com/hmgoepprod?set=source[/a4/b9/a4b921d6e3c32bcccad4a2211d214e4175719e00.jpg],origin[dam],category[ladies_dresses_mididresses],type[DESCRIPTIVESTILLLIFE],res[y],hmver[1]&call=url[file:/product/main]" class="col-4" alt="...">
      </slide>
      <slide>
        <img src="https://lp2.hm.com/hmgoepprod?set=source[/70/cc/70cca1fe43323457feab8532a07197522b895d03.jpg],origin[dam],category[ladies_jacketscoats_jackets],type[DESCRIPTIVESTILLLIFE],res[y],hmver[1]&call=url[file:/product/main]" class="col-4" alt="...">
        <img src="https://lp2.hm.com/hmgoepprod?set=source[/ac/19/ac1922cf7c64cf4b1d413d80f52d2fcc8d3051bc.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[y],hmver[1]&call=url[file:/product/main]" class="col-4" alt="...">
        <img src="https://lp2.hm.com/hmgoepprod?set=source[/a4/b9/a4b921d6e3c32bcccad4a2211d214e4175719e00.jpg],origin[dam],category[ladies_dresses_mididresses],type[DESCRIPTIVESTILLLIFE],res[y],hmver[1]&call=url[file:/product/main]" class="col-4" alt="...">
      </slide>
      <slide>
        <img src="https://lp2.hm.com/hmgoepprod?set=source[/70/cc/70cca1fe43323457feab8532a07197522b895d03.jpg],origin[dam],category[ladies_jacketscoats_jackets],type[DESCRIPTIVESTILLLIFE],res[y],hmver[1]&call=url[file:/product/main]" class="col-4" alt="...">
        <img src="https://lp2.hm.com/hmgoepprod?set=source[/ac/19/ac1922cf7c64cf4b1d413d80f52d2fcc8d3051bc.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[y],hmver[1]&call=url[file:/product/main]" class="col-4" alt="...">
        <img src="https://lp2.hm.com/hmgoepprod?set=source[/a4/b9/a4b921d6e3c32bcccad4a2211d214e4175719e00.jpg],origin[dam],category[ladies_dresses_mididresses],type[DESCRIPTIVESTILLLIFE],res[y],hmver[1]&call=url[file:/product/main]" class="col-4" alt="...">
      </slide>
    </carousel>
  </div>
</div>
