<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="https://lp2.hm.com/hmgoepprod?set=source[/a4/b9/a4b921d6e3c32bcccad4a2211d214e4175719e00.jpg],origin[dam],category[ladies_dresses_mididresses],type[DESCRIPTIVESTILLLIFE],res[y],hmver[1]&call=url[file:/product/main]" alt="...">
    </div>
    <div class="col-6">
      <h2>Name</h2>
      <label>Color</label>
      <div class="form-group">
        <label for="select">Размер</label>
        <select class="form-control" id="select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <label>Description</label>
      <a href="" class="btn btn-primary d-block">Добавить в корзину</a>
    </div>
  </div>
</div>
