<div class="container">
  <div class="row">
    <form class="mx-auto">
      <h2>Профиль</h2>
      <div class="form-group">
        <label for="login">Имя</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="name">
      </div>
      <div class="form-group">
        <label for="password">Фамилия</label>
        <input type="text" class="form-control" name="surname" [(ngModel)]="surname">
      </div>
      <div class="form-group">
        <label for="text">Телефон</label>
        <input type="tel" class="form-control" name="phone" [(ngModel)]="phone">
      </div>
      <div class="form-group">
        <label for="text">Электронная почта</label>
        <input type="email" class="form-control" name="mail" [(ngModel)]="mail">
      </div>
      <button type="submit" class="btn btn-primary form-control" (click)="submit()">Сохранить изменения</button>
    </form>
  </div>
</div>
