<div class="container">
  <div class="row">
    <form class="mx-auto">
      <h2>Профиль</h2>
      <div class="form-group">
        <label for="login">Имя</label>
        <input type="text" class="form-control" id="name" placeholder="Имя">
      </div>
      <div class="form-group">
        <label for="password">Фамилия</label>
        <input type="text" class="form-control" id="surname" placeholder="Фамилия">
      </div>
      <div class="form-group">
        <label for="text">Телефон</label>
        <input type="tel" class="form-control" id="phone" placeholder="8(123)456-78-90">
      </div>
      <div class="form-group">
        <label for="text">Электронная почта</label>
        <input type="email" class="form-control" id="mail" placeholder="qwerty@mail.com">
      </div>
      <button type="submit" class="btn btn-primary form-control">Сохранить изменения</button>
    </form>
  </div>
</div>
